<%- include('includes/header') %>

<body>
  <div>
    <div>PRODUCTS PAGE</div>
    <div><%=user.userNick%></div>
    <% products.map((value, key) => { %>
    <p><%= value.productName %> - <%= value.productSize %></p>
    <% }) %>
  </div>
</body>
<%- include('includes/footer') %>
